* {
  margin: 0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-family:'monospace', sans-serif;
}

.app {
  background-image: url('./pictures/snow.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.warm {
  background-image: url('./pictures/sunny.jpeg');
}

main {
  min-height: 100vh;
}